@media  (max-width: 767px){
/* mobile  */
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(75px,auto);
    
}


.a{
    grid-column: span 2;
    
}
.b{
    grid-column: span 2;
    grid-row: span 2;

}
.c{
    grid-column: span 2;
    height: 125px
}
.d{
    grid-column: span 2;
    height: 125px
}
.e,.f,.g,.h{
    height: 250px;
}
.i{
    grid-column: span 2;
    height: 80px
}

    
}

@media (min-width:960px){
    /* desktop */

section{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-auto-rows: minmax(50px,auto);

        
}

.a{
    grid-column: span 5;
    grid-row: span 2;
}
.b{
    
    grid-row: span 3;
}
.c,.d{
    grid-column: span 2;
    height: 200px;
    
}

.e,.f,.g,.h{
    
    
    height: 250px;
    
}
.i{
    grid-column: span 4;
    height: 150px;
}


}




@media  (max-width: 959px) and (min-width:768px){

    section{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-auto-rows: minmax(50px,auto);
    
            
    }
    
    .a{
        grid-column: span 5;
        grid-row: span 2;
    }
    .b{
        
        grid-row: span 6;
    }
    .c,.d{
        grid-column: span 2;
        grid-row: span 2;
        
    }
    
    .e,.f,.g,.h{
        grid-column: span 2;
        grid-row: span 2;
        
        
        
        
    }
    .i{
        grid-column: span 5;
        grid-row: span 2;
    }


}


