@media  (max-width: 767px){

    /* mobile  */

    .a{
        background-color: #325288;
    }
    .b{
        background-color:#f4eee8 ;
    }
    .c{
        background-color:#f5cebe ;
    }
    .d{
        background-color:#114e60 ;
    }
    .e{
        background-color:#542e71 ;
    }
    .f{
        background-color:#fb3640 ;
    }
    .g{
        background-color:#fdca40 ;
    }
    .h{
        background-color:#a799b7 ;
    }
    .i{
        background-color:#ff9a8c ;
    }
    
}

@media  (min-width:960px){

    /* desktop */


    .a{
        background-color: #8ab6d6;
    }
    .b{
        background-color:#798777 ;
    }
    .c{
        background-color:#2978b5 ;
    }
    .d{
        background-color:#ce1212 ;
    }
    .e{
        background-color:#ff8303 ;
    }
    .f{
        background-color:#a35709 ;
    }
    .g{
        background-color:#845460 ;
    }
    .h{
        background-color:#81b214 ;
    }
    .i{
        background-color:#ffcc29 ;
    }
    
}

@media  (max-width: 959px) and (min-width:768px){

    /* tablet  */
    .a{
        background-color: #9e9d89;
    }
    .b{
        background-color:#e2bcb7 ;
    }
    .c{
        background-color:#b67162 ;
    }
    .d{
        background-color:#2b2e4a ;
    }
    .e{
        background-color:#e84545 ;
    }
    .f{
        background-color:#e9896a ;
    }
    .g{
        background-color:#845460 ;
    }
    .h{
        background-color:#e4bad4 ;
    }
    .i{
        background-color:#cee6b4 ;
    }

}